    
    <form class="spika-form">
    
        <h2 class="form-signin-heading">{{l10n "Sign Up"}}</h2>
        
        <div class="form-group">
            <div class="form-label">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{l10n "User Name"}}
            </div>
            <input type="text" id="input-username" class="form-control">
            <div class="label-error"></div>
        </div>
        
        <div class="form-group">
            <div class="form-label">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{l10n "Email Address"}}
            </div>
            <input type="text" id="input-email" class="form-control">
            <div class="label-error"></div>
        </div>
        
        <div class="form-group">
            <div class="form-label">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{l10n "Password"}}
            </div>
            <input type="text" id="input-password" class="form-control">
            <div class="label-error"></div>
        </div>
        
        <div class="spacer">
    
        </div>
        
        <div class="btn btn-lg btn-primary btn-block" id="btn-enter">{{l10n "Sign Up"}}</div>
        
    </form>
    
